<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistema Calculo Metabólico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
</head>
<body>
    <!--DIV DO HEADER DO SITE-->
    <div class="container-fluid" class="col-sm-12" class="col-md-12" class="col-lg-12">
        <!--DIV DO LOGO DO SISTEMA-->
        <div id="div da imagem" class="col-sm-4" class="col-md-4" class="col-lg-4">
            <img src="../images/scm-logo-compact.svg" class="img-responsive" alt="Responsive image"> 
        </div>
    </div>
    <br>
    <!--FORMULARIO COM AS INFORMAÇÕES DO USUÁRIO-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="nomeCompleto">Nome Completo</label>
                <input type="nome" class="form-control" id="nomeCompleto" placeholder="Digite seu nome completo">
            </div>
        </div>
        <div class="col-md-4">  
            <div class="form-group">
                <label for="email">e-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
            </div>
        </div>
        <div class="col-md-2"></div>     
    </div>

    <div class="row">    
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="idade">Idade</label>
                <input type="idade" class="form-control" id="idade" placeholder="Informe a sua idade">
            </div>
        </div>
        <div class="col-md-4">           
            <div class="form-group">
                <label for="peso">Peso</label>
                <input type="peso" class="form-control" id="peso" placeholder="Informe a seu peso em kilogramas">
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    
    <!--DIV DE SELEÇÃO DA INTENSIDADE E EXERCÍCIO REALIZADO-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="intensidade">Selecione a Intensidade do Exercício</label>
                <select class="form-control" id="intensidade">
                    <option selected hidden>Selecione a Intensidade do Exercício</option>
                    <option value="1">Leve</option>
                    <option value="2">Moderado</option>
                    <option value="3">Pesado</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="exercicio">Selecione o Exercício</label>
                <select class="form-control" id="exercicio" disabled>
                    <option selected hidden>Selecione o Exercício</option>
                </select>
            </div>
        </div>
    <div class="col-md-2"></div>         
    </div>
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/select.js"></script>       
</body>
</html>